<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <!-- <meta name="Keywords" content="KEYWORDS HERE (SEPERATE WITH COMMA)" lang="en" xml:lang="en"> -->
      <!-- <meta name="Description" content="DESCRIPTION HERE" lang="en" xml:lang="en"> -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>{{ title }}</title>
  </head>

  <body>

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
        

        <h3>Your Category Sub List: {{ title }}</h3>
        <ul>
            {% for i in sublist %}
                <li><a href="{% url 'product:product-list' category i.slug %}">{{ i.name }}</a></li>
            {% endfor %}
        </ul>

        
  </body>

</html>
