{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<section class="sub-categories my-5">
    <div class="container-fluid">
        <h3 class="my-2 text-center mb-5">{{ title }} wears</h3>
        <div class="row justify-content-center mt-4">
            {% for i in sublist %}
            <div class="col-sm-4 text-center">
                <a href="{% url 'product:product-list' category i.slug %}">
                    <img src="{{ i.image.url }}" alt="" class="img-fluid">
                    <h5 class="mt-2">{{ i.name.upper }}</h5>
                    <p>{{ i.desc }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}