{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="product-listing jumbotron">
    <div class="container-fluid">
        <h1>{{ title }} Shirts</h1>
        <p>{{ sub_category.description }}</p>
        <p class="redux">View less</p>
    </div>
</div>

<div class="top-tiny">
    <div class="container-fluid">
        <a href="#" class="circular">long sleeve polos</a>
    </div>
</div>

<section class="filter">
    <div class="container-fluid">
        <form action="">
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
        </form>
    </div>
</section>

<div class="top-tiny">
    <div class="container-fluid">
        <p>{{total_count}} styles found</a>
    </div>
</div>


<section class="products">
    <div class="container-fluid">
        <div class="products-list">
            {% for i in products %}
                <a href="{% url 'product:product-detail' category.slug sub_category.slug i.code %}" class="product-box">
                    <div class="head">
                        <img src="{{ i.get_image.image.url }}" alt="">
                        <span class="icon"><img  src="{% static 'fonts/svg/heart.svg' %}" alt=""></span>
                    </div>
                    <div class="bottom">
                        <p class="desc">{{ i.name }}</p>
                        <p class="price">£ {{i.price}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="container-fluid py-5">
        <div class="product-loader">
            <p>You've viewed {{ products.count }} of {{ total_count }} products</p>
            <progress value="70" max="100">70 %</progress>
            <a href="#" class="btn">Load more</a>
        </div>
    </div>
</section>
{% endblock content %}