{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="product-listing jumbotron">
    <div class="container-fluid">
        <h1>Men's Polo Shirts</h1>
        <p>From dress-down Fridays to weekend 'fits, our edit of men’s polo shirts knows no bounds when it comes to versatility. From long-sleeve polo shirts to short-sleeve polo tops, ASOS DESIGN has hundreds of styles and designs to suit your unique style, or take your pick from men's designer polo shirts by Fred Perry and Polo Ralph Lauren, adding their classic logos to your smart-casual rotation. You can pair your polo T-shirt with skinny jeans, tailored shorts or even check trousers. Preppy vibes incoming.</p>
        <p class="redux">View less</p>
    </div>
</div>

<div class="top-tiny">
    <div class="container-fluid">
        <a href="#" class="circular">long sleeve polos</a>
    </div>
</div>

<section class="filter">
    <div class="container-fluid">
        <form action="">
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
            <select name="" id="">
                <option value="">Price</option>
            </select>
        </form>
    </div>
</section>

<div class="top-tiny">
    <div class="container-fluid">
        <p>1,245 styles found</a>
    </div>
</div>


<section class="products">
    <div class="container-fluid">
        <div class="products-list">
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/testimg.jpg' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/test3.webp' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/test2.webp' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/test3.webp' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/testimg.jpg' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/test3.webp' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/test2.webp' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/test3.webp' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/testimg.jpg' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/test3.webp' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/test2.webp' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
            <a href="#" class="product-box">
                <div class="head">
                    <img src="{% static 'images/test3.webp' %}" alt="">
                    <span class="icon"><img  src="{% static 'fonts/svg/heart.svg" alt=""></span>
                </div>
                <div class="bottom">
                    <p class="desc">ASOS DESIGN waffle zip polo in black</p>
                    <p class="price">£ 16.00</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid py-5">
        <div class="product-loader">
            <p>You've viewed 72 of 1,777 products</p>
            <progress value="70" max="100">70 %</progress>
            <a href="#" class="btn">Load more</a>
        </div>
    </div>
</section>
{% endblock content %}