{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <section class="breadcrumbs">
      <div class="container-fluid">
        <a href="#"><span>Home</span> &raquo;</a>
        <a href="#"><span>Home</span> &raquo;</a>
        <a href="#"><span>Home</span> &raquo;</a>
        <a href="#"><span>Home</span> &raquo;</a>
        <a href="#" class="active">{{ product.name }}</a>
      </div>
    </section>

    <section class="main-product">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 product-images">
            <div class="product-dot">
              <img src="{% static 'images/pickle/first-2.webp' %}" alt="">
              <img src="{% static 'images/pickle/second-2.webp' %}" alt="">
              <img src="{% static 'images/pickle/third-2.webp' %}" alt="">
              <img src="{% static 'images/pickle/fourth-2.webp' %}" alt="">
            </div>
            <div class="products-pics-box">
              <div class="products-pics owl-carousel">
                <div class="boxing">
                  <img src="{% static 'images/pickle/first-1.webp' %}" alt="">
                </div>
                <div class="boxing">
                  <img src="{% static 'images/pickle/second-1.webp' %}" alt="">
                </div>
                <div class="boxing">
                  <img src="{% static 'images/pickle/third-1.webp' %}" alt="">
                </div>
                <div class="boxing">
                  <img src="{% static 'images/pickle/fourth-1.webp' %}" alt="">
                </div>
              </div>
              <div class="products-pics-nav">
                <img src="{% static 'fonts/svg/arrow-left.svg' %}" alt="">
                <img src="{% static 'fonts/svg/arrow-right.svg' %}" alt="">
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-8 col-md-4 product-mini-desc">
            <div class="top">
              <h5>{{ product.name }}</h5>
              <p class="price">£{{ product.price }}</p>

              <p class="desc-type mt-5"><span>colour:</span><span>{{ product.color }}</span></p>
              <p class="desc-type"><span>size:</span><a href="#">Find your fit assistant size</a></p>
              <select>
                <option>Please Select</option>
                <option>W28 L32</option>
                <option>W28 L32</option>
                <option>W28 L32</option>
                <option>W28 L32</option>
                <option>W28 L32</option>
                <option>W28 L32</option>
              </select>
              <div class="cart-btn-box">
                <a href="#" class="btn btn-success filled">Add to bag</a>
                <span><img src="{% static 'fonts/svg/heart.svg' %}" alt=""></span>
              </div>
            </div>
            
            <!-- <div class="bottom">
              <p class="head">Sizing help</p>
              <p>Still unsure what size to get?</p>
              <a href="#">Find your recommended size</a>
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <section class="product-description active">
      <div class="container-fluid">
        <div class="row boxes">
          <div class="col-md-4 single-box">
            <h5>Product details</h5>
            <p><a href="#">Jeans</a> by <a href="#">WELLBOS DESIGN</a></p>
            <ul>
                {% for i in product.list_details %}
                    <li>{{i}}</li>
                {% endfor %}
            </ul>
          </div>
          <div class="col-md-4 single-box">
            <h5>PRODUCT CODE</h5>
            <p>{{ product.code }}</p>

            <h5 class="mt-4">Brand</h5>
            <p>This is WELLBOS DESIGN – your go-to for all the latest trends, no matter who you are, where you’re from and what you’re up to. Exclusive to WELLBOS, our universal brand is here for you, and comes in Plus and Tall. Created by us, styled by you.</p>
          </div>
          <div class="col-md-4 single-box">
            <h5>SIZE & FIT</h5>

            <p class="mt-3">Model's height: 188cm/6'2" <br> Model is wearing: W 32" L 32"</p>
            <p>The inseam on these jeans measures 71cm. They’re a little shorter than normal</p>

            <h5 class="mt-4">LOOK AFTER ME</h5>
            <p>Machine wash according to instructions on care label</p>

            <h5 class="mt-4">About me</h5>
            <p>Non-stretch denim</p>
            <p>We are a proud member of The Better Cotton Initiative. Better Cotton is sourced via a system of Mass Balance</p>
            <p>Main: 100% Cotton.</p>
          </div>
        </div>
      </div>
    </section>

    <section class='show-more'>
      <div class="container-fluid py-5 text-center">
        <a href="#" class="btn px-5">show more</a>
      </div>
    </section>

    <!-- <section id="reviews">
      <div class="container-fluid">
        <div class="review-boxes">
          <div class="review-box">
            <h4>Review</h4>
            <div class="star-box">
              <span class="star"><i class="fas fa-star"></i></span>
              <span class="star"><i class="fas fa-star"></i></span>
              <span class="star"><i class="fas fa-star"></i></span>
              <span class="star"><i class="fas fa-star"></i></span>
              <span class="star"><i class="fas fa-star"></i></span>
              <span class="value">3.8 (33 Reviews)</span>
            </div>
            <p>75% of customers recommend this product</p>

            <h4>CUSTOMER RATING</h4>
            <div class="rating-box">
              <p class="head"><span><i class="fas fa-user"></i></span> Fit:</p>
              <span class="rating"></span>
              <p class="bottom">
                <span>Runs small</span>
                <span>Runs large</span>
              </p>
            </div>
            <div class="rating-box">
              <p class="head"><span><i class="fas fa-user"></i></span> Fit:</p>
              <span class="rating"></span>
              <p class="bottom">
                <span>Runs small</span>
                <span>Runs large</span>
              </p>
            </div>
          </div>
          <div class="review-box">
            <h5>Review</h5>
            <div class="star-box">
              <span class="star"><i class="fas fa-star"></i></span>
              <span class="star"><i class="fas fa-star"></i></span>
              <span class="star"><i class="fas fa-star"></i></span>
              <span class="star"><i class="fas fa-star"></i></span>
              <span class="star"><i class="fas fa-star"></i></span>
              <small class="value">1 month ago</small>
            </div>
            <small>Verified Purchaser</small>

          </div>
        </div>
      </div>
    </section> -->

{% endblock content %}