<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <!-- <meta name="Keywords" content="KEYWORDS HERE (SEPERATE WITH COMMA)" lang="en" xml:lang="en"> -->
      <!-- <meta name="Description" content="DESCRIPTION HERE" lang="en" xml:lang="en"> -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>{{ title }}</title>
  </head>

  <body>

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <h3>Forget password</h3>
            
            {{ form }}

            <button name="submit">sign in</button>
        </form>

        
  </body>

</html>
