{% load static %}
<nav>
    <div class="container-fluid">
        <div class="navbar">
            <a href="#" class="navbar-brand">
                <img src="{% static 'images/logo1.png' %}" alt="" class="img-fluid">
            </a>

            <div id="desktop_nav">
                <div class='nav_box men'>
                    <a href="#" class="nav_link">Men</a>
                    <div class="nav_backdrop">
                        <div class="dropdown_container">
                            <div class="dropdown">
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class='nav_box women'>
                    <a href="#" class="nav_link">Women</a>
                    <!-- Dropdowns -->
                    <div class="nav_backdrop">
                        <div class="dropdown_container">
                            <div class="dropdown">
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='nav_box kids'>
                    <a href="#" class="nav_link">Kids</a>
                    <!-- Dropdowns -->
                    <div class="nav_backdrop">
                        <div class="dropdown_container">
                            <div class="dropdown">
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='nav_box home_l'>
                    <a href="#" class="nav_link men">Home & Living</a>
                    <div class="nav_backdrop">
                        <div class="dropdown_container">
                            <div class="dropdown">
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='nav_box beauty'>
                    <a href="#" class="nav_link men">Beauty</a>
                    <div class="nav_backdrop">
                        <div class="dropdown_container">
                            <div class="dropdown">
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                                <ul>
                                    <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>
                                    <li><a href="#">Test 1</a></li>

                                    <hr>
                                    <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                    <li class="special"><a href="#">Watches & Wearables</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nav_search">
                <form action="">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="{% static 'fonts/svg/search.svg' %}" alt="">
                        </span>
                        <input type="text" class="form-control" placeholder="Search for products, brands and more" aria-label="Search" aria-describedby="basic-addon1">
                    </div>
                </form>
            </div>

            <div id="nav_icons">
                <a href="#">
                    <img src="{% static 'fonts/svg/person.svg' %}" alt="">
                    <p>Profile</p>
                </a>
                <a href="#">
                    <img src="{% static 'fonts/svg/heart.svg' %}" alt="">
                    <p>Wishlist</p>
                </a>
                <a href="#">
                    <img src="{% static 'fonts/svg/bag.svg' %}" alt="">
                    <p>Bag</p>
                </a>
            </div>
        </div>
    </div>
</nav>