{% load static %}
{% load wellbostags %}
<nav id="desktop-nav">
    <div class="container-fluid">
        <div class="navbar">
            <a href="{% url 'main:home' %}" class="navbar-brand">
                <img src="{% static 'images/logo1.png' %}" alt="" class="img-fluid">
            </a>

            <div id="desktop_nav">
                {% get_category as v %}
                {% for i in v %}
                    <div class='nav_box men'>
                        <a href="{{ i.get_absolute_url }}" class="nav_link">{{i.name}}</a>
                        <div class="nav_backdrop">
                            <div class="dropdown_container">
                                <div class="dropdown">
                                    <ul>
                                        <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>

                                        <hr>
                                        <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                        <li class="special"><a href="#">Watches & Wearables</a></li>
                                    </ul>
                                    <ul>
                                        <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>

                                        <hr>
                                        <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                        <li class="special"><a href="#">Watches & Wearables</a></li>
                                    </ul>
                                    <ul>
                                        <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>

                                        <hr>
                                        <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                        <li class="special"><a href="#">Watches & Wearables</a></li>
                                    </ul>
                                    <ul>
                                        <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>

                                        <hr>
                                        <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                        <li class="special"><a href="#">Watches & Wearables</a></li>
                                    </ul>
                                    <ul>
                                        <li class="special"><a href="#">Indian & Fusion Wear</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>
                                        <li><a href="#">Test 1</a></li>

                                        <hr>
                                        <li class="special"><a href="#">Belts, Scarves & More</a></li>
                                        <li class="special"><a href="#">Watches & Wearables</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


            <div class="nav_search">
                <form action="">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="{% static 'fonts/svg/search.svg' %}" alt="">
                        </span>
                        <input type="text" class="form-control" placeholder="Search for products, brands and more" aria-label="Search" aria-describedby="basic-addon1">
                    </div>
                </form>
            </div>

            <div id="nav_icons">
                <a href="#">
                    <img src="{% static 'fonts/svg/person.svg' %}" alt="">
                    <p>Profile</p>
                </a>
                <a href="#">
                    <img src="{% static 'fonts/svg/heart.svg' %}" alt="">
                    <p>Wishlist</p>
                </a>
                <a href="#">
                    <img src="{% static 'fonts/svg/bag.svg' %}" alt="">
                    <p>Bag</p>
                </a>
            </div>
        </div>
    </div>
</nav>