{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    
    {% include "main/head.html" %}

    <body>

        <div id='desktop'>

            {% include "main/desktop_navbar.html" %}

            <section>
                <div class="container-fluid">
                    <div id="hero-slides">
                        <div class="owl-carousel">
                            <a href="#"><img src="{% static 'images/hero/15052415-8cad-4a07-9519-9dec6919fa8c1628001489758-category-banners_DK_Men-sCasualWear.jpg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/hero/62077d10-7f0d-48bd-b8e4-8b0ca58164061628070132015-main-banner-desktop-2.jpg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/hero/a0347ab1-b593-488b-91d3-dada2f292b0d1628001489764-category-banners_Women-sWesternWear.jpg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/hero/afcb1f6e-c55c-4b73-9578-a992f5b24d301627999680993-Kidswear_Dk.jpg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/hero/cc2bca2e-ff21-480b-ba6e-23cd4f88a6151628001489771-category-banners_Dk_Women-sIndianWear.jpg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="deals home">
                <div class="container-fluid">
                    <h2 class="section-head">Deals of the day</h2>

                    <div class="products">
                        <a href="#"><img src="{% static 'images/products/2c355578-c241-47d6-b332-b5a8bea99a931628000450530-t-shirts.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/2c355578-c241-47d6-b332-b5a8bea99a931628000450530-t-shirts.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/2c355578-c241-47d6-b332-b5a8bea99a931628000450530-t-shirts.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/2c355578-c241-47d6-b332-b5a8bea99a931628000450530-t-shirts.jpg' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="deals home">
                <div class="container-fluid">
                    <h2 class="section-head">Biggest deals on top brands</h2>

                    <div class="products">
                        <a href="#"><img src="{% static 'images/products/8d5afb84-a464-40af-9971-2e9f0827e9b71598892377591-UCB.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/0524cbd5-f034-4155-9e3b-336c4e530ee41605363272658-Home---Levis.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/e72c82f2-cfd5-4f9a-b1b0-ba9e2b3e51251598892519506-W.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/8d5afb84-a464-40af-9971-2e9f0827e9b71598892377591-UCB.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/0524cbd5-f034-4155-9e3b-336c4e530ee41605363272658-Home---Levis.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/e72c82f2-cfd5-4f9a-b1b0-ba9e2b3e51251598892519506-W.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/8d5afb84-a464-40af-9971-2e9f0827e9b71598892377591-UCB.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/e72c82f2-cfd5-4f9a-b1b0-ba9e2b3e51251598892519506-W.jpg' %}" alt=""></a>
                    </div>
                </div>
            </section>


            <section class="deals home">
                <div class="container-fluid">
                    <h2 class="section-head">Categories to bag</h2>

                    <div class="products">
                        <div class="hori">
                            <a href="#"><img src="{% static 'images/products/ae14f627-9fd9-41ce-80a4-f107c316c7eb1594222907625-Casual-shoes.jpg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/products/18eb31db-8dcb-4efa-b92d-61c8ebe0ee811594222834368-Shorts.jpg' %}" alt=""></a>
                        </div>
                        <div class="hori">
                            <a href="#"><img src="{% static 'images/products/ae14f627-9fd9-41ce-80a4-f107c316c7eb1594222907625-Casual-shoes.jpg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/products/18eb31db-8dcb-4efa-b92d-61c8ebe0ee811594222834368-Shorts.jpg' %}" alt=""></a>
                        </div>
                        <div class="hori">
                            <a href="#"><img src="{% static 'images/products/ae14f627-9fd9-41ce-80a4-f107c316c7eb1594222907625-Casual-shoes.jpg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/products/18eb31db-8dcb-4efa-b92d-61c8ebe0ee811594222834368-Shorts.jpg' %}" alt=""></a>
                        </div>
                        <div class="hori">
                            <a href="#"><img src="{% static 'images/products/ae14f627-9fd9-41ce-80a4-f107c316c7eb1594222907625-Casual-shoes.jpg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/products/18eb31db-8dcb-4efa-b92d-61c8ebe0ee811594222834368-Shorts.jpg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="deals home">
                <div class="container-fluid">
                    <h2 class="section-head">Explore top brands</h2>

                    <div class="products">
                        <a href="#"><img src="{% static 'images/products/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg' %}" alt=""></a>
                    </div>
                </div>
            </section>


            <section class="deals home">
                <div class="container-fluid">
                    <h2 class="section-head">Trending in Western wear</h2>

                    <div class="products">
                        <a href="#"><img src="{% static 'images/products/be0b0d6f-7c72-4752-859f-ee44902ff7171597912691244-Content-footwear-trend-sneakersmen.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/d7f59b96-8e15-470e-a47b-5d5005e4273f1597840566776-Content-westerncasual-mostselling-modblocking.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/f7585d6d-78ee-42bd-baf2-07eefada7fb31597840566666-Content-westerncasual-color-moss.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/be0b0d6f-7c72-4752-859f-ee44902ff7171597912691244-Content-footwear-trend-sneakersmen.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/d7f59b96-8e15-470e-a47b-5d5005e4273f1597840566776-Content-westerncasual-mostselling-modblocking.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/d7f59b96-8e15-470e-a47b-5d5005e4273f1597840566776-Content-westerncasual-mostselling-modblocking.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/f7585d6d-78ee-42bd-baf2-07eefada7fb31597840566666-Content-westerncasual-color-moss.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/f7585d6d-78ee-42bd-baf2-07eefada7fb31597840566666-Content-westerncasual-color-moss.jpg' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="deals home">
                <div class="container-fluid">
                    <h2 class="section-head">Trending in Indian wear</h2>

                    <div class="products">
                        <a href="#"><img src="{% static 'images/products/indian1.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/indian2.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/indian3.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/indian1.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/indian3.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/indian1.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/indian2.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/indian3.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="deals home">
                <div class="container-fluid">
                    <h2 class="section-head">Trending in sport wear</h2>

                    <div class="products">
                        <a href="#"><img src="{% static 'images/products/sportwear1.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/sportwear2.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/sportwear2.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/sportwear3.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/sportwear1.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/sportwear2.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/sportwear3.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/sportwear3.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="deals home">
                <div class="container-fluid">
                    <h2 class="section-head">Trending in footwear</h2>

                    <div class="products">
                        <a href="#"><img src="{% static 'images/products/footwear1.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/footwear1.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/footwear2.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/footwear3.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/footwear1.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/footwear2.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/footwear3.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/footwear3.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="deals home">
                <div class="container-fluid">
                    <h2 class="section-head">Trending in accessories</h2>

                    <div class="products">
                        <a href="#"><img src="{% static 'images/products/headpone1.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/watch1.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/watch2.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/earring1.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/watch2.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/earring1.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/watch2.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/products/watch1.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>


            <footer>
                <div class="container-fluid">
                    <div class="footer">
                        <div class="linkers">
                            <h6>Online shopping</h6>

                            <ul>
                            <a href="#">Men</a> 
                            <a href="#">Wpmen</a> 
                            <a href="#">Kids</a> 
                            <a href="#">Home & Living</a> 
                            <a href="#">Beauty</a> 
                            <a href="#">Gift Cards</a> 
                            <a href="#">Wellbos Insider <span class="badge badge-danger">New</span></a> 
                            <a href="#">Men</a> 
                            </ul>
                        </div>
                        <div class="linkers">
                            <h6>Useful links</h6>

                            <ul>
                            <a href="#">Contact Us</a> 
                            <a href="#">FAQ</a> 
                            <a href="#">T&C</a> 
                            <a href="#">Terms of use</a> 
                            <a href="#">Track orders</a> 
                            <a href="#">Shipping</a> 
                            <a href="#">Cancellation <span class="badge badge-danger">New</span></a> 
                            <a href="#">Returns</a> 
                            <a href="#">Whitehat</a> 
                            <a href="#">Blog</a> 
                            <a href="#">Careers</a> 
                            <a href="#">Privacy Policy</a> 
                            <a href="#">Sitemap</a> 
                            </ul>
                        </div>
                        <div class="contact_slide">
                            <div class="newsletter">
                                <h6>Subscribe to our newsletter</h6>
                                <form action="">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <img src="{% static 'fonts/svg/envelope.svg" alt="">
                                        </span>
                                        <input type="email" placeholder="Enter your email">
                                    </div>
                                    <button class="btn btn-primary d-block">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="features">
                            <div class="item">
                                <img src="{% static 'images/sprites/original.png' %}" alt="">
                                <div class="text">
                                    <h5>100% original</h5>
                                    <p>guarantee for all products at wellbos.com</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{% static 'images/sprites/thirty.png' %}" alt="">
                                <div class="text">
                                    <h5>Return within 30 days</h5>
                                    <p>of receiving your order</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="footer-section">
                        <h6>POPULAR SEARCHES</h6>

                        <p>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                            <a href="#">Test Link</a>
                        </p>

                        <div class="d-flex justify-content-between">
                            <p>In case of any concern, <a href="#">Contact Us</a></p>
                            <p>© 2021 www.wellbox.com. All rights reserved.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="footer-section">
                        <h6>Registered Office Address</h6>
                        <p>Buildings Alyssa,
                            Begonia and Clover situated in Embassy Tech Village,
                            Outer Ring Road,
                            Devarabeesanahalli Village,
                            Varthur Hobli,
                            Bengaluru – 560103, India</p>
                        <p>CIN: U72300KA2007PTC041799</p>
                        <p>Telephone: <a href="tel:0000000000">+91-80-61561999</a></p>
                    </div>

                    <hr>

                    <div class="footer-section">
                        <h6>ONLINE SHOPPING MADE EASY AT Wellbos</h6>
                        <p>If you would like to experience the best of online shopping for men, women and kids in India, you are at the right place. Myntra is the ultimate destination for fashion and lifestyle, being host to a wide array of merchandise including clothing, footwear, accessories, jewellery, personal care products and more. It is time to redefine your style statement with our treasure-trove of trendy items. Our online store brings you the latest in designer products straight out of fashion houses. You can shop online at Myntra from the comfort of your home and get your favourites delivered right to your doorstep.</p>
                    
                        <h6>BEST ONLINE SHOPPING SITE IN INDIA FOR FASHION</h6>
                        <p>Be it clothing, footwear or accessories, Myntra offers you the ideal combination of fashion and functionality for men, women and kids. You will realise that the sky is the limit when it comes to the types of outfits that you can purchase for different occasions.</p>
                        <ol>
                            <li><strong>Smart men’s clothing:- </strong>At Myntra you will find myriad options in smart formal shirts and trousers, cool T-shirts and jeans, or kurta and pyjama combinations for men. Wear your attitude with printed T-shirts. Create the back-to-campus vibe with varsity T-shirts and distressed jeans. Be it gingham, buffalo, or window-pane style, checked shirts are unbeatably smart. Team them up with chinos, cuffed jeans or cropped trousers for a smart casual look. Opt for a stylish layered look with biker jackets. Head out in cloudy weather with courage in water-resistant jackets. Browse through our innerwear section to find supportive garments which would keep you confident in any outfit.</li>
                            <li><strong>Trendy women’s clothing:- </strong> Online shopping for women at Myntra is a mood-elevating experience. Look hip and stay comfortable with chinos and printed shorts this summer. Look hot on your date dressed in a little black dress, or opt for red dresses for a sassy vibe. Striped dresses and T-shirts represent the classic spirit of nautical fashion. Choose your favourites from among Bardot, off-shoulder, shirt-style, blouson, embroidered and peplum tops, to name a few. Team them up with skinny-fit jeans, skirts or palazzos. Kurtis and jeans make the perfect fusion-wear combination for the cool urbanite. Our grand sarees and lehenga-choli selections are perfect to make an impression at big social events such as weddings. Our salwar-kameez sets, kurtas and Patiala suits make comfortable options for regular wear.</li>
                            <li><strong>Fashionable footwear:- </strong>While clothes maketh the man, the type of footwear you wear reflects your personality. We bring you an exhaustive lineup of options in casual shoes for men, such as sneakers and loafers. Make a power statement at work dressed in brogues and oxfords. Practice for your marathon with running shoes for men and women. Choose shoes for individual games such as tennis, football, basketball, and the like. Or step into the casual style and comfort offered by sandals, sliders, and flip-flops. Explore our lineup of fashionable footwear for ladies, including pumps, heeled boots, wedge-heels, and pencil-heels. Or enjoy the best of comfort and style with embellished and metallic flats.</li>
                            <li><strong>Stylish accessories:- </strong>Myntra is one of the best online shopping sites for classy accessories that perfectly complement your outfits. You can select smart analogue or digital watches and match them up with belts and ties. Pick up spacious bags, backpacks, and wallets to store your essentials in style. Whether you prefer minimal jewellery or grand and sparkling pieces, our online jewellery collection offers you many impressive options.</li>
                            <li><strong>Fun and frolic:- </strong>Online shopping for kids at Myntra is a complete joy. Your little princess is going to love the wide variety of pretty dresses, ballerina shoes, headbands and clips. Delight your son by picking up sports shoes, superhero T-shirts, football jerseys and much more from our online store. Check out our lineup of toys with which you can create memories to cherish.</li>
                            <li><strong>Beauty begins here:- </strong>You can also refresh, rejuvenate and reveal beautiful skin with personal care, beauty and grooming products from Myntra. Our soaps, shower gels, skin care creams, lotions and other ayurvedic products are specially formulated to reduce the effect of aging and offer the ideal cleansing experience. Keep your scalp clean and your hair uber-stylish with shampoos and hair care products. Choose makeup to enhance your natural beauty.</li>
                        </ol>
                        <p>Myntra is one of the best online shopping sites in India which could help transform your living spaces completely. Add colour and personality to your bedrooms with bed linen and curtains. Use smart tableware to impress your guest. Wall decor, clocks, photo frames and artificial plants are sure to breathe life into any corner of your home.</p>
                    </div>
                </div>
            </footer>
        
        </div>

        <div id="mobile">
            
            {% include "main/mobile_bar.html" %}
            {% include "main/mobile_nav.html" %}
            

            <div id="categories">
                <a href="#"><img src="{% static 'images/mobile/2ababf13-9ed4-48db-952d-acf3db7b230f1628140595379-PetFashion.jpg' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/mobile/2ababf13-9ed4-48db-952d-acf3db7b230f1628140595379-PetFashion.jpg' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/mobile/2ababf13-9ed4-48db-952d-acf3db7b230f1628140595379-PetFashion.jpg' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/mobile/2ababf13-9ed4-48db-952d-acf3db7b230f1628140595379-PetFashion.jpg' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/mobile/2ababf13-9ed4-48db-952d-acf3db7b230f1628140595379-PetFashion.jpg' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/mobile/2ababf13-9ed4-48db-952d-acf3db7b230f1628140595379-PetFashion.jpg' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/mobile/2ababf13-9ed4-48db-952d-acf3db7b230f1628140595379-PetFashion.jpg' %}" alt=""></a>
            </div>

            <section id="mobile-slide">
                <div class="container-fluid">
                    <div class="owl-carousel">
                        <a href="#"><img src="{% static 'images/mobile/1dbf44da-a9c7-4ef7-b286-d0a923907a5b1628074631100-category-banners_Women-sWesternWear.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/mobile/557c734b-99b5-453a-aba2-19b120d3408e1628074201652-prebuzz-banner-3.webp' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/mobile/557c734b-99b5-453a-aba2-19b120d3408e1628074201652-prebuzz-banner-3.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <a href="#"><img class="img-fluid" src="{% static 'images/mobile/177eaff3-659d-483a-a6d5-43fbd23a12021628140016732-CK.webp' %}" alt=""></a>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>7pm - midnight</h5>
                    <div class="single">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/single-1.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>TOP Picks</h5>
                    <div class="grid">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/pick1.jpg' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/pick2.jpg' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/pick3.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/pick4.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>best of beauty & personal care</h5>
                    <div class="horizontal">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/pick1.jpg' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/pick2.jpg' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/pick3.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/pick4.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <a href="#"><img class="img-fluid" src="{% static 'images/mobile/dd295a38-23b4-4c9a-b0e8-73aff13bf4d91565168696949-5.gif" alt=""></a>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <a href="#"><img class="img-fluid" src="{% static 'images/mobile/1dbf44da-a9c7-4ef7-b286-d0a923907a5b1628074631100-category-banners_Women-sWesternWear.webp' %}" alt=""></a>
                </div>
            </section>


            <section class="sectors">
                <div class="container-fluid">
                    <h5>deals of the day</h5>
                    <div class="horizontal border">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/deals1.jpg' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/deals1.jpg' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/deals1.jpg' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/deals1.jpg' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/deals1.jpg' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/deals1.jpg' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>featured brands</h5>
                    <div class="horizontal border">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/featured1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/featured2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/featured3.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/featured1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/featured2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/featured3.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>myntra luxe</h5>
                    <div class="horizontal small">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/myntra1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/myntra2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/myntra1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/myntra2.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>sytle like your fave celebs</h5>
                    <div class="horizontal">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/style1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/style2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/style1.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>best of kidswear</h5>
                    <div class="horizontal border">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/kids1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/kids2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/kids1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/kids2.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>best buys</h5>
                    <div class="grid">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/saree1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/saree2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/saree2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/saree1.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>


            <section class="sectors">
                <div class="container-fluid">
                    <h5>promoted brands</h5>
                    <div class="horizontal small border">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/promoted1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/promoted2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/promoted1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/promoted2.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>biggest deals on top brands</h5>
                    <div class="grid grided">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/grided1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/grided2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/grided3.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/grided4.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/grided1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/grided2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/grided2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/grided3.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/grided4.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="full">
                <div class="container-fluid">
                    <a href="#"><img class="img-fluid" src="{% static 'images/mobile/special1.webp' %}" alt=""></a>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>best offers</h5>
                    <div class="grid grided">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/yoyo1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/yoyo1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/yoyo1.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>brands at slashed prices</h5>
                    <div class="grid">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/slashed1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/slashed2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/slashed1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/slashed2.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section id="mobile-slide">
                <div class="container-fluid">
                    <div class="owl-carousel">
                        <a href="#"><img src="{% static 'images/mobile/slide0.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/mobile/slide1.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

            <section class="sectors">
                <div class="container-fluid">
                    <h5>shop categories</h5>
                    <div class="categories">
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/category1.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/category2.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/category3.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/category4.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/category5.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/category6.webp' %}" alt=""></a>
                        <a href="#"><img class="img-fluid" src="{% static 'images/mobile/category7.webp' %}" alt=""></a>
                    </div>
                </div>
            </section>

        </div>

        {% include "main/scripts.html" %}
    </body>

</html>
